<div
    *ngIf="badgeText?.length > 0 || badgeIcon?.length > 0"
    class="bg-badge"
    [ngClass]="{
        'switch-icon-text': badgeIconRight,
        'hover-class': useHover,
        'active-class': isBadgeActive,
        'lowercase': !toUppercase
    }"
    (click)="handleBadgeClick($event)">

    <div *ngIf="tooltipMessage?.length" class="tooltip-message-container">
        <div class="tooltip-message-text" [ngClass]="(badgeText.length === 0) ? '' : 'tooltip-center-aimed'">
            {{tooltipMessage}}
        </div>
    </div>

    <bg-icon
        *ngIf="badgeIcon"
        size="extra-small"
        [ngClass]="badgeText?.length > 0 ? 'badge-icon' : 'badge-icon-only'"
        [type]="badgeIcon">
    </bg-icon>

    <div *ngIf="badgeText?.length"
         class="badge-text"
         [ngClass]="badgeIcon?.length > 0 ? 'badge-text' : 'badge-text-only'">
        {{badgeText}}
    </div>

    <div class="notification-amount" *ngIf="notifications?.length" >
        {{notifications}}
    </div>

</div>

<ng-container *ngIf="dropDownContents && dropdownOpen">
    <ul class="badge-dropdown">
        <li *ngFor="let item of dropDownContents" (click)="onDropdownClick(!item['active'],  item['text'])">
            <bg-icon
                *ngIf="item.icon"
                class="dropdown-item-icon"
                size="extra-small"
                [type]="item.icon">
            </bg-icon>
            <span>{{item.text}}</span>
        </li>
    </ul>
</ng-container>
