<div class="content-tabs" [ngClass]="{'content-tabs-compact': compact}">
    <ng-container *ngFor="let tabConfiguration of tabsConfiguration">
        <div class="tab"
             [ngClass]="{selected: tabConfiguration.selected}"
             [style.color]="(tabConfiguration.selected && tabConfiguration.selectedTextColor && tabConfiguration.textColor) ?
                tabConfiguration.selectedTextColor : tabConfiguration.textColor"
             [style.borderColor]="(tabConfiguration.selected && tabConfiguration.selectedBorderColor && tabConfiguration.borderColor) ?
                tabConfiguration.selectedBorderColor : tabConfiguration.borderColor"
             [style.background]="(tabConfiguration.backgroundColor && tabConfiguration.selectedBackgroundColor && tabConfiguration.selected) ?
                tabConfiguration.selectedBackgroundColor : tabConfiguration.backgroundColor"
             (click)="selectTab(tabConfiguration)">
            <span>
                <bg-icon
                    size="small"
                    [type]="tabConfiguration.icon"
                    [color]="(tabConfiguration.selected && tabConfiguration.selectedTextColor && tabConfiguration.textColor) ?
                        tabConfiguration.selectedTextColor : tabConfiguration.textColor"
                    *ngIf="tabConfiguration.icon">
                </bg-icon>
                <span class="tab-text">
                    {{tabConfiguration.text}}
                </span>
            </span>
        </div>
    </ng-container>
</div>
