
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-toolbar color="secondary">
        <ion-title size="small">roots : HTTP GET method</ion-title>
        <ion-buttons slot="end">
          <ion-icon slot="start" name="add" routerLink="/todo"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>




  <ion-content>
    <ion-list>
      <ion-item>
        <ion-grid fixed>
          <ion-row class="header">
            <ion-col>S.No</ion-col>
            <ion-col>Task</ion-col>
            <ion-col>Status</ion-col>
            <ion-col>Edit</ion-col>
            <ion-col>Delete</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngFor="let todo of todos; index as i">
        <ion-grid>
          <ion-row>
            <ion-col>{{ i + 1 }}</ion-col>
            <ion-col>{{ todo.task }}</ion-col>
            <ion-col>
              <span *ngIf="todo.status">Completed</span>
              <span *ngIf="!todo.status">Pending</span>
            </ion-col>
            <ion-col>
              <a [routerLink]="'/todo/' + todo.id" size="small" shape="round">
                Edit
              </a>
            </ion-col>
            <ion-col>
              <ion-icon (click)="deleteTodo(todo)" name="trash-outline" color="danger"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
