

$extrasmallIconSize: 12px;
$smallIconSize: 16px;
$mediumIconSize: 32px;
$bigIconSize: 64px;

%mask-icon {
    background: #000;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    display: inline-flex;
}

%background-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-flex;
}

:host {
    display: flex;
    position: relative;

    .bg-icon {
        &-extra-small {
            width: $extrasmallIconSize;
            height: $extrasmallIconSize;
        }

        &-small {
            width: $smallIconSize;
            height: $smallIconSize;
        }

        &-medium {
            width: $mediumIconSize;
            height: $mediumIconSize;
        }

        &-big {
            width: $bigIconSize;
            height: $bigIconSize;
        }
    }

    ul.button-dropdown {
        position: absolute;
        right: -10px;
        top: 15px;
        max-width: 100%;
        min-width: 200px;
        padding: 0;
        margin-top: 5px;
        color: var(--text);
        font-family: var(--font-family);
        font-weight: 600;
        background-color: white;
        list-style-type: none;
        box-shadow: 0 0 40px rgb(34 37 59 / 10%);
        border: none;
        border-radius: 12px;

        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            vertical-align: middle;
            gap: 10px;
            min-height: 36px;
            padding: 8px 12px;
            margin: 4px;
            color: var(--text);
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            border-radius: 8px;
            transition: background-color .4s ease;

            ::ng-deep .dropdown-item-icon .bg-icon {
                background: var(--action-icons);
            }

            &:hover {
                color: var(--text);
                text-decoration: none;
                background-color: rgba(143, 156, 180, .16);
            }
        }
    }
}
