


.bg-dropdown-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    font-size: 14px;

    .bg-dropdown-list-toggle {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 36px;
        padding: 5px 40px 5px 12px;
        color: var(--font-color);
        font-family: var(--font-family);
        font-weight: 600;
        line-height: 1.5;
        background: white;
        border: 1px solid var(--text-hints);
        border-radius: 8px;
        transition: border .4s ease;
        cursor: pointer;

        &:not(:has(span.placeholder)) {
            border: 1px solid var(--secondary-disabled);
        }

        .placeholder {
            color: var(--text-hints);
            font-weight: 600;
            background-color: transparent;
            opacity: 1;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .selected-option-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        bg-icon {
            position: absolute;
            right: 10px;
            transform: rotate(180deg) scale(0.625);
            transition: all .4s ease;
        }

        &:hover {
            border-color: var(--action-icons);
        }

        &.open {
            border-color: var(--secondary-components);

            bg-icon {
                transform: rotate(0) scale(0.625);
            }
        }

        &.disabled {
            background-color: var(--disabled-light);
            opacity: .3;
            cursor: not-allowed;

            .placeholder {
                color: var(--action-icons);
                background-color: var(--action-icons);
                opacity: 0.5;
                pointer-events: none;
            }
        }

        &.dropdown-disabled {
            padding: 5px 12px;
            border-color: var(--text-hints);
            cursor: not-allowed;

            .placeholder {
                pointer-events: none;
            }

            bg-icon {
                display: none;
            }
        }
    }


    .bg-dropdown-list-up {
        bottom: 100%;
        margin-bottom: 5px;
    }

    .bg-dropdown-list-dropdown {
        position: absolute;
        z-index: 1001;
        width: 100%;
        margin-top: 5px;
        color: var(--text);
        font-family: var(--font-family);
        font-weight: 600;
        background-color: white;
        box-shadow: 0 0 40px rgb(34 37 59 / 10%);
        border: none;
        border-radius: 12px;

        .dropdown-list-items {
            overflow-y: auto;
            max-height: 300px;

            .dropdown-list-item {
                display: flex;
                align-items: center;
                vertical-align: middle;
                min-height: 36px;
                padding: 8px 12px;
                margin: 0 5px;
                font-size: 14px;
                line-height: 20px;
                border-radius: 8px;
                transition: background-color .4s ease;
                cursor: pointer;

                span {
                    display: inline-block;
                    width: 100%;
                }

                bg-checkbox {
                    display: flex;
                    width: 100%;

                    ::ng-deep .mat-checkbox {
                        line-height: 1.1;
                    }
                }

                bg-icon {
                    display: none;
                }

                &:hover {
                    background-color: rgba(143, 156, 180, .16);
                }

                &-active {
                    color: var(--font-color);
                    background-color: var(--selected);

                    bg-icon {
                        display: flex;
                    }

                    &:hover {
                        background-color: var(--selected);
                        cursor: default;
                    }
                }

                &:first-of-type {
                    margin-top: 5px;
                }

                &:last-of-type {
                    margin-bottom: 5px;
                }
            }
        }

        .search-bar-container {
            background-color: var(--secondary-disabled);

            .search-bar {
                display: flex;
                position: relative;
                align-items: center;
                background-color: var(--secondary-disabled);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                input {
                    margin: 8px 16px;
                    color: var(--text);
                    font-size: 14px;
                    font-weight: 600;
                    border: 1px solid var(--text-hints);
                    border-radius: 8px;
                    box-shadow: none;
                    transition: color 0.15s ease-in-out;

                    &::placeholder {
                        color: var(--text-hints);
                        font-weight: 600;
                        transition: color 0.15s ease-in-out;
                    }

                    &:hover {
                        border-color: var(--action-icons);

                        &::placeholder {
                            color: var(--action-icons);
                        }
                    }

                    &:focus,
                    &:active {
                        border-color: var(--secondary-components);
                        box-shadow: none;
                    }
                }

                .icon-search {
                    position: absolute;
                    right: 26px;
                    width: 15px;
                    height: 15px;
                }
            }

            .search-input-error {
                padding: 0 16px 8px;
            }
        }

        .dropdown-group {
            &:not(.group-is-open) {
                .grouped-options {
                    height: 0;
                    overflow: hidden;
                }
            }

            &.group-is-open .dropdown-group-name bg-icon {
                transform: rotate(180deg);
            }
        }

        .dropdown-group-name,
        .select-all-option {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            color: var(--secondary-components);
            font-size: 14px;
            font-weight: 400;
            line-height: 34px;
            background-color: var(--disabled-light);
            cursor: pointer;

            bg-checkbox {
                display: flex;
                width: 100%;
            }
        }

        .dropdown-group-name {
            bg-icon {
                display: flex;
                width: 12px;
                height: 12px;
                margin: 0 10px 0 0;
                transition: all .4s ease;
            }
        }

        .select-all-option {
            padding: 7px 16px;
            height: 40px;

            bg-checkbox ::ng-deep .mat-checkbox-label {
                display: flex;
                color: var(--secondary-components);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }

    &-no-border {
        .bg-dropdown-list-toggle {
            min-height: 26px;
            background-color: transparent;
            border: none;

            bg-icon {
                top: 9px;
            }

            &:hover {
                background-color: rgba(143, 156, 180, .16);
            }

            &.open {
                background-color: rgba(143, 156, 180, .16);

                bg-icon {
                    top: 12px;
                }
            }
        }
    }

    &-compact:not(.bg-dropdown-container-no-border) {
        font-size: 12px;

        .bg-dropdown-list-toggle {
            min-height: 28px;
            padding: 2px 40px 2px 12px;
        }
    }

    .arrow {
        display: none;
    }
}
