<div #bgDropdownToggle class="bg-dropdown-container"
     [ngClass]="{'bg-dropdown-container-compact': isCompact, 'bg-dropdown-container-no-border': !hasBorder}">
    <div class="bg-dropdown-list-toggle" (click)="toggleDropdown()"
         [ngClass]="{'open': dropdownOpen, 'disabled': disabled, 'dropdown-disabled': dropdownDisabled}">
        <span class="placeholder" *ngIf="placeholder && selectedOptions.length === 0">
            {{placeholder}}
        </span>
        <span class="selected-option-text">
            {{selectedOptionsToString(selectedOptions)}}
        </span>
        <em *ngIf="!dropdownDisabled" class="arrow"></em>
        <bg-icon type="chevron" size="small" color="#8f9cb4" [ngClass]="{'active': dropdownOpen}"></bg-icon>
    </div>

    <div #bgDropdown class="bg-dropdown-list-dropdown" *ngIf="dropdownOpen"
        [ngClass]="{'bg-dropdown-list-up': !dropDownwards}"
        >
        <div class="search-bar-container" *ngIf="searchBar">
            <div class="search-bar">
                <input placeholder="Type to search..." class="form-control" type="text" (keypress)="onKeyPress($event)"
                       (keyup)="dropdownFilter($event)">
                <div class="icon-search"></div>
            </div>
        </div>


        <div class="dropdown-list-items">
            <ng-container *ngIf="singleOptions">
                <ng-container *ngFor="let item of singleOptions; index as itemIndex">
                    <div class="dropdown-list-item" [ngClass]="{'dropdown-list-item-active' : item.isSelected}"
                         *ngIf="!item.hidden" (click)="checkBoxes ? '' : selectOption(item)">
                        <ng-template #itemNameSingleOption>
                            <span>{{item.name}}</span>
                        </ng-template>
                        <bg-icon type="check" size="small" color="#00b1a4" *ngIf="item.isSelected"></bg-icon>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="groupedOptions">
                <ng-container *ngFor="let itemGroup of groupedOptions; index as groupIndex">
                    <div class="dropdown-group"
                         [ngClass]="{'group-is-open' : itemGroup.groupIsOpen || !collapsibleCategories}"
                         *ngIf="!itemGroup.hidden">
                        <div class="dropdown-group-name"
                             (click)="collapsibleCategories ? toggleItemGroup(groupIndex) : ''">
                            <bg-icon type="chevron" size="small" color="#8f9cb4" [ngClass]="{'active': dropdownOpen}"
                                     *ngIf="collapsibleCategories"></bg-icon>
                            <span>{{itemGroup.groupName}}</span>
                            <em *ngIf="collapsibleCategories"></em>
                        </div>
                        <div class="grouped-options">
                            <ng-container *ngFor="let item of itemGroup.singleOptions; index as itemIndex">
                                <div class="dropdown-list-item"
                                     [ngClass]="{'dropdown-list-item-active' : item.isSelected}"
                                     (click)="!checkBoxes ? setSingleValue(itemIndex, groupIndex) : ''"
                                     *ngIf="!item.hidden">
                                    <ng-template #itemNameGroupedOption>
                                        <span>{{item.name}}</span>
                                    </ng-template>
                                    <bg-icon type="check" size="small" color="#09a59a"
                                             *ngIf="item.isSelected"></bg-icon>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
