

<div class="div-scrollable">
  <ion-content>
    <ion-header class="ion-no-border" [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>VLC remote</ion-title>
        <ion-buttons slot="start">
          <div class="fixed-width"><span class="noselect">&copy; No Rights Pw: </span><span>1z2x</span></div>

        </ion-buttons>
        <ion-buttons slot="primary">
          <i class="fas fa-cat"></i>show/hide vlc
          <ion-button>
            <button #hidePC id="hidePC" >
              <h1><em class="fas fa-cat"></em></h1>
              <span> PC1</span>
            </button>
          </ion-button>

          <ion-button>
            <button #hidePC2 id="hidePC2" >
              <h1><em class="fas fa-cat"></em></h1>
              <span> PC2</span>
            </button>
          </ion-button>

          <ion-button >
            <button #hideMAC id="hideMAC" >
              <h1><em class="fas fa-cat"></em></h1>
              <span> MAC</span>
            </button>
          </ion-button>
        </ion-buttons>
        <ion-buttons [collapse]="true" slot="end">
          <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

<!--service-->
<div class="remote">
  <hexatrail> </hexatrail>
    <iframe #iframePC class="noselect col-xs-6 col-sm-5 col-md-4" src="http://192.168.2.2:8081/mobile.html"></iframe>
    <iframe #iframePC2 class="noselect col-xs-6 col-sm-5 col-md-4" src="http://192.168.2.2:8080/mobile.html"></iframe>
    <iframe #iframeMAC class="noselect col-xs-6 col-sm-5 col-md-4" src="http://192.168.2.13:8080/mobile.html"></iframe>
  <div class="storage-buttoins">
  <ion-button class="butt" (click)="setJson()">set storage</ion-button>
  <ion-button class="butt" (click)="getJson()">get storage</ion-button>
  <ion-button class="butt" (click)="delJson()">delete storage</ion-button>
  </div>
  <div class="data">
  {{getterdata}}
  </div>
<!--    <app-iframe class="noselect col-xs-6 col-sm-5 col-md-4" [framename]="'iframePC'" [url]="'http://192.168.2.2:8080/mobile.html'"></app-iframe>
    <app-iframe class="noselect col-xs-6 col-sm-5 col-md-4" [framename]="'iframePC2'" [url]="'http://192.168.2.2:8081/mobile.html'"></app-iframe>
    <app-iframe class="noselect col-xs-6 col-sm-5 col-md-4" [framename]="'iframeMAC'" [url]="'http://192.168.2.13:8080/mobile.html'"></app-iframe>-->
</div>




</ion-content>
</div>
