

:host-context(.bgenius-style) {
    .input-container {
        .input-area {
            position: relative;

            input {
                //border-radius: 8px;
            }

            bg-icon {
                position: absolute;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 40px;

                &.prefix-icon {
                    left: 0;
                    top: 0;
                }

                &.suffix-icon {
                    right: 0;
                    top: 0;
                }

                &.isButton {
                    pointer-events: auto;
                    cursor: pointer;
                }
            }

            &.has-prefix {
                input {
                    padding-left: 45px;
                }
            }

            &.has-suffix {
                input {
                    padding-right: 45px;
                }
            }
        }

        &-inline {
            display: flex;
            width: fit-content;
            border-radius: 8px;
            height: auto;
            min-height: 36px;
            background: white;

            &:hover {
                background: rgba(143, 156, 180, .24);
            }

            &.edit-mode {
                background: rgba(143, 156, 180, .24);
            }

            .content-area {
                position: relative;
                display: flex;
                align-items: center;
                padding-right: 10px;

                .input-text {
                    border: none;
                    display: inline-block;
                    box-shadow: none;
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 400;
                    height: inherit;
                    width: fit-content;
                    padding-left: 12px;
                    color: $text-color;
                    background: none;
                    padding-right: 45px;
                }

                .edit-icon {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    &.hidden {
                        display: none;
                    }
                }
            }

        }

        &-extended {
            display: flex;
            align-items: center;
            border: 1px solid $input-border-color;
            width: fit-content;

            ::ng-deep bg-dropdown-list {
                width: fit-content;

                .bg-dropdown-container {
                    .bg-dropdown-list-toggle {
                        height: 33.5px;
                        min-height: 33.5px;
                        padding-right: 25px;
                        border: none;

                        &.open {
                            border: none;
                        }
                    }
                }
            }

            .input-area {
                input {
                    border: none;
                    border-left: 1px solid $input-border-color;
                    box-shadow: none;
                }
            }

        }

        &.compact {
            input {
                padding: 0;
                height: auto;
            }
        }
    }

    .error-message {
        display: none;
    }
}

:host-context(.kinesso-style) {
    .input-container {

        .input-area {
            position: relative;
            min-height: 36px;
            display: flex;
            align-items: center;

            input {
                padding: 5px 0.75rem;
                color: var(--text);
                font-family: var(--font-family);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                box-shadow: none;
                border: 1px solid var(--borders);
                border-radius: 8px;

                &:hover {
                    border-color: var(--action-icons);
                }

                &:focus {
                    color: var(--text);
                    border-color: var(--secondary-components);
                }

                &[disabled] {
                    color: var(--text-hints);
                    background-color: var(--disabled-light);
                    border-color: var(--secondary-disabled);
                    cursor: not-allowed;
                }
            }

            bg-icon {
                position: absolute;
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 40px;
                color: var(--action-icons);

                ::ng-deep span {
                    background: var(--action-icons);
                }

                &.prefix-icon {
                    left: 0;
                    top: 0;
                }

                &.suffix-icon {
                    right: 0;
                    top: 0;
                }

                &.isButton {
                    pointer-events: auto;
                    cursor: pointer;
                }
            }

            &.has-prefix {
                input {
                    padding-left: 45px;
                }
            }

            &.has-suffix {
                input {
                    padding-right: 45px;
                }
            }
        }

        &-inline {
            display: flex;
            width: fit-content;
            border-radius: 8px;
            height: auto;
            min-height: 36px;
            background: white;

            &:hover {
                background: rgba(143, 156, 180, .24);
            }

            &.edit-mode {
                background: rgba(143, 156, 180, .24);
            }

            .content-area {
                position: relative;
                display: flex;
                align-items: center;
                padding-right: 10px;

                .input-text {
                    border: none;
                    display: inline-block;
                    box-shadow: none;
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 400;
                    height: inherit;
                    width: fit-content;
                    padding-left: 12px;
                    color: var(--text);
                    background: none;
                    padding-right: 45px;
                    font-family: var(--font-family);
                }

                .edit-icon {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    ::ng-deep span {
                        background: var(--action-icons);
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }

        }

        &-extended {
            display: flex;
            align-items: center;
            border: 1px solid var(--text-hints);
            border-radius: 8px;
            padding: 0 4px 0 4px;
            width: fit-content;

            &:hover {
                border-color: var(--action-icons);
            }

            .input-area {
                input {
                    border: none;
                    border-left: 1px solid var(--text-hints);
                    border-radius: 0;
                    box-shadow: none;
                }
            }

            ::ng-deep bg-dropdown-list {
                width: fit-content;

                .bg-dropdown-container {
                    .bg-dropdown-list-toggle {
                        border: none;

                        &.open {
                            border: none;
                        }
                    }
                }
            }
        }

        &.compact {
            input {
                padding-top: 0;
                padding-bottom: 0;
                height: auto;
            }
        }
    }

    .error-message {
        font-size: 12px;
        font-family: var(--font-family);
        font-weight: 600;
        color: var(--error);
    }
}
