<div class="input-container" (bgClickOutside)="saveOnClickOutside ? saveData() : ''" [ngClass]="{'compact' : isCompact}">
    <div *ngIf="type === 'inline'" class="input-container-inline" [ngClass]="{'edit-mode' : isEditing}">
        <div class="content-area">
                <input #inputText [type]="isNumberInput ? 'number' : 'text'" placeholder="{{placeholder}}" class="input-text" [(ngModel)]="content"
                       (keyup.enter)="saveOnClickEnter?saveData():''" (input)="checkContent()" [attr.disabled]="disabled || !isEditing ? '' : null"/>
                <bg-icon size="{{iconSize}}" type="{{editIcon}}" class="edit-icon" [ngClass]="(!isEditing && !disabled)?'':'hidden'" (click)="onEdit()"></bg-icon>
        </div>
    </div>
    <div *ngIf="type === 'extended'" class="input-container-extended">
        <bg-dropdown-list
            [disabled]="disabled"
            placeholder="Select"
            [singleOptions]="prefixItems"
            *ngIf="prefixItems && prefixItems.length>0"
            (optionClickEvent)="dropDownSelectionChange($event)"></bg-dropdown-list>
        <div class="input-area">
            <bg-icon class="prefix-icon" [size]="iconSize" [type]="prefixIconName" *ngIf="prefixIconName"></bg-icon>
            <input [type]="isNumberInput ? 'number' : 'text'" [ngClass]="error?'error-input':''" placeholder="{{placeholder}}" class="input-text"
                   [(ngModel)]="content" (input)="checkContent()"
                   (keyup.enter)="saveOnClickEnter ? saveData() : ''" [attr.disabled]="disabled ? '' : null"/>
            <bg-icon class="suffix-icon" [size]="iconSize" [type]="suffixIconName" *ngIf="suffixIconName"></bg-icon>
        </div>
    </div>
    <div *ngIf="type === 'normal'" class="input-container-normal">
        <div class="input-area" [ngClass]="{'has-prefix': prefixIconName, 'has-suffix' : suffixIconName }">
            <bg-icon class="prefix-icon" [size]="iconSize" [type]="prefixIconName" *ngIf="prefixIconName" (click)="prefixIconIsButton ? saveData() : ''"
              [ngClass]="{'isButton' : prefixIconIsButton}"></bg-icon>
            <input [type]="isNumberInput ? 'number' : 'text'" [ngClass]="{'error-input' : error}" placeholder="{{placeholder}}" class="input-text"
                   [(ngModel)]="content" (input)="checkContent()"
                   (keyup.enter)="saveOnClickEnter ? saveData() : ''" [attr.disabled]="disabled ? '' : null"/>
            <bg-icon class="suffix-icon" [size]="iconSize" [type]="suffixIconName" *ngIf="suffixIconName" (click)="suffixIconIsButton ? saveData() : ''"
                     [ngClass]="{'isButton' : suffixIconIsButton}"></bg-icon>
        </div>
    </div>
</div>
<div class="error-message" *ngIf="error">{{requiredMessage}}</div>
