<!--<div class="div-scrollable">-->
<ion-header class="ion-no-border" [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><i class="fas fa-transgender-alt"></i>show/hide vlc</ion-title>

        <ion-buttons slot="primary">
<!--          <iframe-button [awesomeLogo]="'fas fa-cat'"  *ngFor="let item of vlcdata" [frameName]="item.ipAddress" [buttonText]="item.ipAddress" (iframeToggle)="toggle($event)"></iframe-button>-->

        </ion-buttons>
<!--        <ion-buttons [collapse]="true" slot="end">
          <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>-->
      </ion-toolbar>
    </ion-header>
<ion-content>

    <div *ngFor="let item of vlcdata; index as i " >
        <app-iframe   class="col-xs-6 col-sm-5 col-md-4" [url]="item.ipAddress"></app-iframe>
     {{i}}  {{item.ipAddress}}
</div>

</ion-content>

