// Styles for the icon story:

.icon-display-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    width: 80px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    &:hover .icon-container .tag-copied,
    .icon-container .tag-copied.show {
        opacity: 1;
    }

    .icon-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: transparent;
        border: solid 2px rgba(108, 117, 125, .25);
        border-radius: 4px;

        > span {
            display: flex;
        }

        .tag-copied {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            color: white;
            font-weight: 700;
            background-color: rgba(108, 117, 125, .6);
            opacity: 0;
        }
    }

    .copy-tag {
        font-size: 0;
        position: absolute;
        opacity: 0;
    }
}
