<div class="icon-group" *ngFor="let iconSet of iconSets">
    <h3 class="mb-4">{{iconSet.title}}</h3>
    <div *ngFor="let icon of iconSet.icons" class="icon-display-container" (click)="copyIconTag($event)">
        <div class="icon-container">
            <bg-icon *ngIf="iconSet.type === 'icon'" [size]="iconSize" [color]="iconColor" [type]="icon"></bg-icon>
            <bg-icon *ngIf="iconSet.type === 'image'" [size]="iconSize" [type]="icon"></bg-icon>
            <div class="tag-copied">Copy to clipboard</div>
        </div>
        <div class="text">{{icon}}</div>
        <textarea class="copy-tag" *ngIf="iconSet.type === 'icon'">
            &lt;bg-icon size="{{iconSize}}" color="{{iconColor}}" type="{{icon}}"&gt;&lt;/bg-icon&gt;
        </textarea>
        <textarea class="copy-tag" *ngIf="iconSet.type === 'image'">
            &lt;bg-icon size="{{iconSize}}" type="{{icon}}"&gt;&lt;/bg-icon&gt;
        </textarea>
    </div>
</div>
